.header {
  background-color: rgb(22, 22, 22);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  box-shadow: 0 1px 3px rgba(255,255,255,0.4);
}

.header h1 {
  margin: 0 20%;
  padding: 1rem;
  text-align: center;
}